@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

:root {
    --primaria: #008F95;
    --secundaria: #E86E80;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

html {
    font-size: 100%;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1200px;
    width: 90%;
    display: flex;
}

/* header */

.header {
    height: 70px;
    background-color: rgb(178, 221, 223);   
    position: fixed;
}

.header .content {
    justify-content: space-between;
    align-items: center;
}

.header .content .logo {
    cursor: pointer;
    width: 50px;
}

.header .content ul {
    display: flex;
    gap: 10px;
}

.header .content ul li {
    list-style: none;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .content ul li a:hover {
    background-color: var(--secundaria);
    color: white; 

}

.header .content ul li a {
    color: black;
    text-decoration: none;
    padding: 8px 30px;
    transition: ease-in-out .2s;
}

 /* Main */

.main {
    background-color: rgb(178, 221, 223);
    height: 550px;
    padding-top: 50px;
}

.main .content {
    height: 500px;
    align-items: center; 
    justify-content: space-between; 
}

.main .content .right {
    height: 500px;
    display: flex;
    align-items: center;
}

.main .content .right .foto {
    width: 500px;
    height: 390px;
    background-color: #E86E80;
    border-radius: 25px;
}

.main .content .left {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .content .left h2 {
    font-size: 2rem;
    color: #008F95;
    
}

.main .content .left h1 {
    font-size: 4rem;
    padding: 20px 0px;
}

.main .content .left p {
    max-width: 550px;
    width: 100%;
    padding-bottom: 40px;
    font-size: 1rem;
}

.main .content .left .send {
    border: none;
    background-color: #008F95;
    border-radius: 90px;
    width: 13rem;
    height: 3rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;
    transition: ease-out .3s;
}

.main .content .left button:hover {
    background-color: #E86E80;
    color: black;
    font-size: 1.3rem;
}
 /* section 1 */

.about {
    height: 500px;
    padding-top: 100px;
}

.about .content {
    justify-content: space-around;
    align-items: center;
}

.about .content .left {
    height: 500px;
    display: flex;
    align-items: center;
}

.about .content .left img {
    height: 400px;
}

.about .content .right {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .content .right h1 {
    color: #008F95;
    font-size: 2rem;
    padding-bottom: 20px;
}

.about .content .right p {
    max-width: 500px;
}

/* service */ 

.service {
    height: 400px;
    padding-top: 100px;
}

.service .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service .content .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service .content .title p {
    color: darkgrey;
    font-size: 1rem;
}

.service .content .title h1 {
    font-size: 2rem;
    color: #008F95;
    margin-bottom: 50px;
}

.service .content .cardbox {
    display: flex;
    margin-bottom: 50px;
}

.service .content .cardbox .card1 {
    display: flex;
    align-items: center;
}

.service .content .cardbox .card1 img {
    width: 105px;
    background-color: #2D4CFF21;
    padding: 15px;
    border-radius: 10px;
}

.service .content .cardbox .card1 .desc {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    
}

.service .content .cardbox .card1 .desc p {
    color: #494949;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.service .content .cardbox .card1 .desc h6 {
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top: 10px;
}

.service .content .cardbox .card2 {
    display: flex;
    align-items: center;
}

.service .content .cardbox .card2 img {
    width: 105px;
    background-color: #008F9521;
    padding: 15px;
    border-radius: 10px;
    margin-left: 70px;
}

.service .content .cardbox .card2 .desc {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    
}

.service .content .cardbox .card2 .desc p {
    color: #494949;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.service .content .cardbox .card2 .desc h6 {
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top: 10px;
}

/* my work */ 

.work {
    padding-top: 100px;
}

.work .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work .content .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work .content .title p {
    color: darkgrey;
    font-size: 1rem;
}

.work .content .title h1 {
    font-size: 2rem;
    color: #008F95;
    margin-bottom: 50px;
}

.work .content .list ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-bottom: 25px;
}

.work .content .list ul .all { 
   width: 18px;
   height: 25px;
   display: flex;
   align-items: center;
}

.work .content .list ul .front { 
    width: 155px;
    height: 25px;
    display: flex;
    align-items: center;
 }

.work .content .list ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.work .content .list ul li a:hover {
    color: #008F95;
    text-decoration: none;
    font-size: 1.1rem;
}

.work .content .cardbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.work .content .cardbox .card1 {
    width: 545px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .content .cardbox .card1 img {
    width: 500px;
    height: 320px;
    transition: ease-out .3s;
    cursor: pointer;
}

.work .content .cardbox .card1 img:hover {
    width: 545px;
    height: 350px;
}

.work .content .cardbox .card2 {
    width: 545px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .content .cardbox .card2 img {
    width: 500px;
    height: 320px;
    transition: ease-out .3s;
    cursor: pointer;
}

.work .content .cardbox .card2 img:hover {
    width: 545px;
    height: 350px;
}

.work .content .cardbox .card3 {
    width: 545px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .content .cardbox .card3 img {
    width: 500px;
    height: 320px;
    transition: ease-out .3s;
    cursor: pointer;
}

.work .content .cardbox .card3 img:hover {
    width: 545px;
    height: 350px;
}

.work .content .cardbox .card4 {
    width: 545px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .content .cardbox .card4 img {
    width: 500px;
    height: 320px;
    transition: ease-out .3s;
    cursor: pointer;
}

.work .content .cardbox .card4 img:hover {
    width: 545px;
    height: 350px;
}

.work .content .more {
    margin-top: 50px;
    width: 15rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 90px;
    border: 2px solid #008F95;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-out .5s;
}

.work .content .more:hover {
    border: none;
    background-color: #E86E80;
    color: white;
    font-size: 1.3rem;
}

/* footer */ 

.footer {
    height: 400px;
    background-image: url(../img/footer.png);
    background-repeat: repeat-x;
    background-position:bottom;
}

.footer .content { 
    flex-direction: column;
    align-items: center;
    background-position: center;
}

.footer .content .float {
    width: 80%;
    background-color: #008F95;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 40px;
    margin-top: 90px;
    border-radius: 40px;
    color: white;
}

.footer .content .float h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.footer .content .float button {
    width: 15rem;
    height: 3.5rem;
    color: #008F95;
    background-color: white;
    border: none;
    border-radius: 90px;
    font-size: 1.2rem;
    transition: ease-in-out .3s;
}

.footer .content .float button:hover {
     border: 2px solid white;
     color: white;
     background-color: transparent;
}

.footer .content .desc {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: flex-end;
}

.footer .content .desc a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#btn-mobile {
    display: none;
}

/* media */

@media (max-width: 1300px) {
    .main .content .right {
        display: none;
    }

    .main .content {
        justify-content: center;
    }

    .work .content .cardbox {
        grid-template-columns: 1fr;
    }

    .footer .content .desc {
        top: 365vh;
    }
}

@media (max-width: 1000px) {
    .about .content .left {
        display: none;
    }

    .footer .content .float {
        flex-direction: column;
        gap: 30px;
        padding: 30px 40px;
    }
}

@media (max-width: 600px) {

    .header {
        background-color: rgb(178, 221, 223);   
        position: fixed;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamb {
        width: 20px;
        border-top: 2px solid black;
    }

    #hamb::after, #hamb::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamb {
        border-top-color: transparent;
    }

    #nav.active #hamb::after {
       transform: rotate(135deg);
       top: -7px;
    }

    #nav.active #hamb::before {

       transform: rotate(-135deg);

   }

    .footer .content .float h1 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .work .content .cardbox .card1 {
        width: 100%;
        height: 100%;
    }
    
    .work .content .cardbox .card1 img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .work .content .cardbox .card1 img:hover {
        width: 100%;
        height: 100%;
    }
    
    .work .content .cardbox .card2 {
        width: 100%;
        height: 100%;
    }
    
    .work .content .cardbox .card2 img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .work .content .cardbox .card2 img:hover {
        width: 100%;
        height: 100%;
    }

    .work .content .cardbox .card3 {
        width: 100%;
        height: 100%;
    }
    
    .work .content .cardbox .card3 img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .work .content .cardbox .card3 img:hover {
        width: 100%;
        height: 100%;
    }

    .work .content .cardbox .card4 {
        width: 100%;
        height: 100%;
    }
    
    .work .content .cardbox .card4 img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .work .content .cardbox .card4 img:hover {
        width: 100%;
        height: 100%;
    }

    .service .content .cardbox {
        flex-direction: column;
        gap: 20px;
    }

    .service {
        height: 100%;
    }

    .main .content .right .p {
        width: 90%;
    }

    .service .content .cardbox .card2 img {
        margin-left: 0;
    }

    .header .content ul {
        display: flex;
        flex-direction: column;
    }

    .main {
        height: 650px;
        flex-direction: column;
        align-items: center;
    }


    .about {
        height: 600px;
    }

    #menu {
        display: block;
        position: fixed;
        width: 100%;
        top: 50px;
        right: 0;
        background-color: rgb(178, 221, 223);
        transition: .5s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
  
     }
     
     #menu a {
         padding: 1rem 0;
         margin: 0 1rem;
         border-bottom: 2px solid rgba(0, 0, 0, .05);
     }

     #nav.active #menu {
        height: calc(100vh - 50px);
        visibility: visible;


     }


     #nav.active #body {
        overflow-y: hidden;
     }

     .header .content ul li a {
         width: 100%;
         display: flex;
         justify-content: center;
     }

}
