@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: #FFFFFFDE;
}

body {
    background-color: #121212;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #121212;
    width: 100%;
}

.content {
    display: flex;
    max-width: 1400px;
    width: 90%;
    align-items: center;
    justify-content: center;
}

/* HEADER */

.header {
    height: 100px;
}

.header .content {
    justify-content: space-between;
}

.header .content .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.header .content .logo img {
    height: 80px;
}

.header .content ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header .content ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    transition: ease-in-out .3s;
}

.header .content a button {
    width: 250px;
    height: 60px;
    border: none;
    background-color: #9B3089;
    border-radius: 0px 30px 0px 30px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.4rem;
    transition: ease-in-out .3s;
}

#btn-mobile {
    display: none;
}

.mobileLogo {
    display: none;
}

/* HEADER ANIMATIONS */

.header .content ul li a:hover {
    color: #9B3089;
}

.header .content a button:hover {
    background-color: #702073;
}

/* MAIN */

.main {
    min-height: 900px;
    height: 1200px;
}

.main .content .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .content .left h1 {
    font-size: 4rem;
}

.main .content .left h1 span {
    color: #9B3089;
}

.main .content .left h2 {
    font-weight: 400;
    font-size: 1.2rem;
}

.main .content .left a button {
    border: none;
    background-color: #9B3089;
    border-radius: 0px 30px 0px 30px;
    height: 60px;
    width: 250px;
    margin-top: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.main .content .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main .content .right img {
    width: 90%;
}

/* MAIN ANIMATIONS */ 

.main .content .left a button:hover {
    background-color: #702073;
}

/* WATCH */

.watch {
    height: 700px;
}

.watch .content {
    flex-direction: column;
}

.watch .content .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.watch .content .title h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.watch .content .title p {
    font-size: 1.2rem;
    text-align: center;
}

.watch .content .cardbox {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

.watch .content .cardbox .card {
    background-color: #252525;
    width: 400px;
    height: 400px;
    padding: 50px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #FFFFFF1F;
    transition: ease-in-out .3s;
}

.watch .content .cardbox .card .image {
    width: 100px;
    height: 100px;
    background-color: #9B3089;
    margin-bottom: 50px;
    border-radius: 0px 50px 0px 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.watch .content .cardbox .card .image img {
    width: 60px;
    height: 60px;
}

.watch .content .cardbox .card h1 {
    color: #9B3089;
    margin-bottom: 20px;
}

.watch .content .cardbox .card p {
    font-size: 1.2rem;
}

/* WATCH ANIMATIONS */ 

.watch .content .cardbox .card:hover {
    box-shadow: 0px 0px 10px 0px #FFFFFF80;
}

/* WEB */

.web {
    height: 900px;
}

.web .content .left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.web .content .left img {
    width: 90%;
}

.web .content .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.web .content .right h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.web .content .right p {
    font-size: 1.3rem;
    margin-bottom: 50px;
    width: 70%;
}

.web .content .right a button {
    width: 250px;
    height: 60px;
    border: none;
    background-color: #9B3089;
    border-radius: 0px 30px 0px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: ease-in-out .3s;
}

/* WEB ANIMATIONS */

.web .content .right a button:hover {
    background-color: #702073;
}

/* PLANOS */ 

.planos {
    height: 1000px;
}

.planos .content {
    flex-direction: column;
}

.planos .content h1 {
    font-size: 3rem;
    margin-bottom: 100px;
}

.planos .content .cardbox {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.planos .content .cardbox .card {
    background-color: #252525;
    width: 400px;
    height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 45px;
    transition: ease-in-out .3s;
    box-shadow: 0px 0px 15px 0px #FFFFFF1F;
}

.planos .content .cardbox .card h1 {
    font-size: 1.5rem;
    color: #9B3089;
    margin-bottom: 50px;
}

.planos .content .cardbox .card p {
    font-size: 1.2rem;
    line-height: 40px;
    margin-bottom: 50px;
}

.planos .content .cardbox .card a button {
    border: none;
    background-color: #9B3089;
    width: 200px;
    height: 50px;
    border-radius: 0px 30px 0px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: ease-in-out .3s;
}

/* PLANOS ANIMATION */ 

.planos .content .cardbox .card a button:hover {
    background-color: #702073;
}

/* FAQ */ 
 
.faq {
    padding: 50px;
}

.faq .content {
    flex-direction: column;
}

.faq .content h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.faq .content .card {
    background-color: #252525;
    width: 900px;
    padding: 50px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.faq .content .card .faq-page {
    list-style: none;
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq .content .card .faq-body {
    font-size: 1.2rem;
    padding-left: 15px;
    overflow: hidden;
    padding-bottom: 20px;

}

.faq .content .card .active,
.faq .content .card .faq-page:hover {
    background-color: #252525;
    color: #9B3089;
}

.faq .content .card .faq-body {
    padding: 0 18px;    
    display: none;
    overflow: hidden;
    
}

.faq .content .card .faq-page:after {
    content: '\02795';
    font-size: 1rem;
    color: #FFFFFFDE;
    float: right;
    margin-left: 5px;
}

.faq .content .card .active:after {
    content: "\2796";
}



/* FOOTER */ 

.footer {
    height: 200px;
}

.footer .content {
    justify-content: space-between;
}

.footer .content h1 {
    color: #9B3089;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer .content .link {
    height: 70%;
}

.footer .content .link ul {
    list-style: none;
}

.footer .content .link ul li {
    margin-bottom: 20px;
}

.footer .content .link ul li a {
    text-decoration: none;
    padding: 10px 0px;
    transition: ease-out .3s;
}

/* FOOTER ANIMATION */ 

.footer .content .link ul li a:hover {
    color: #702073;
}

/* DESC */

.desc {
    height: 60px;
     
}

.desc .content {
    border-top: 1px solid #252525;
    justify-content: flex-start;
}

.desc .content h1 {
    font-size: 1rem;
    font-weight: 400;
}

/* SCROLL ANIMATIONS */

[data-anima] {
    opacity: 0;
    transition: 1s;
}

[data-anima="left"] {
    transform: translate3d(-300px, 0, 0);
}

[data-anima="center"] {
    transform: translate3d(0, 300px, 0);
}

[data-anima="right"] {
    transform: translate3d(300px, 0, 0);
}

[data-anima].animation {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* MEDIA */

@media only screen and (max-width: 1440px) {

    /* BTN MOBILE */

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamb {
        width: 35px;
        border-top: 4px solid #9B3089;
    }

    #hamb::after, #hamb::before {
        content: '';
        display: block;
        width: 35px;
        height: 4px;
        background-color: #9B3089;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamb {
        border-top-color: transparent;
    }

    #nav.active #hamb::after {
       transform: rotate(135deg);
       top: -9px;
       background-color: #9B3089;
    }

    #nav.active #hamb::before {

       transform: rotate(-135deg);

    }

    #menu {
        display: block;
        position: fixed;
        width: 450px;
        left: 0;
        top: 0;
        background-color: #252525;
        transition: .5s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        padding: 20px;
    }
 
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #nav.active #menu {
        height: 100vh;
        visibility: visible;
    }

    .header .content ul li a {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

   /* RESTO */

    #close {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        color: #9B3089;
        padding: 10px;
        cursor: pointer;
    }

    .mobileLogo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
    }

    .header .content img {
        height: 50%;
    }

    #btn-mobile {
        position: absolute;
        float: right;
        top: 30px;
        right: 60px
    }

    .header .content button {
        display: none;
    }

    .main {
        height: auto;
        padding: 50px;
    }

    .main .content {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .main .content .left {
        margin-top: 100px;
        width: auto;
        align-items: center;
    }

    .main .content .left h1 {
        text-align: center;
    }

    .main .content .right {
        width: auto;
    }

    .main .content .right {
        display: flex;
        justify-content: center;
    }

    .watch {
        height: auto;
        padding: 50px;
    }

    .watch .content .title {
        width: auto;
        align-items: center;
    }

    .watch .content .cardbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .web {
        height: auto;
        padding: 50px;
    }

    .web .content {
        display: flex;
        flex-direction: column;
    }

    .web .content .right {
        margin-top: 100px;
        width: auto;
        align-items: center;
    }

    .web .content .right h1 {
        text-align: center;
    }

    .web .content .left {
        width: auto;
    }

    .planos {
        height: auto;
        padding: 50px;
    }

    .planos .content .cardbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .faq .content .card {
        width: auto;
    }

    .footer {
        height: auto;
        padding: 50px;
    }

    .footer .content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .footer .content .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .content .link ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
}


